// .suplotopia-header {
//     width: 100%;
//     height: 100%;
// }
// .suplotopia-header h1{
//     font-family: 'Duborics';
//     font-size: 11vw;
//     margin-top:-0px;
//     text-align: center;
//     position: relative;
//     bottom:25vh;
//     letter-spacing: 1px;
// }
header {
  .metamask-btn {
    /* margin-top: 15px; */
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      transition: all 250ms;
      &:hover {
        width: 55px;
        height: 55px;
      }
    }
  }
  .img-suplotopia {
    width: 40px !important;
  }
  .primary-menu-menu {
    text-transform: uppercase;
  }
  .suplo-nav {
    font-family: "Duborics";
  }
}

.section-container {
  z-index: 250;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    // margin-top: 150px;
    // display: flex;
    // justify-content: center;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    h1 {
      font-size: 10vw;
      text-align: center;
      margin: 0;
      letter-spacing: 1px;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    button {
      z-index: 500;
      cursor: pointer;
      width: 50%;
      margin: 15px auto;
      height: 35px;
      background-color: transparent;
      border: 1px solid #39a143;
      border-radius: 5px;
      color: white;
      transition: all 250ms;
      &:hover {
        background-color: #39a14348;
      }
    }
  }
  .main-deposit-container {
    width: 80%;
    margin: 0 auto;
    .deposit-container {
      width: 100%;
      margin: 25px 0;
      background: rgb(0, 94, 6);
      background: linear-gradient(
        90deg,
        rgba(0, 94, 6, 1) 0%,
        rgba(0, 28, 9, 0.6923144257703081) 100%
      );
      border-radius: 15px;
      height: 50%;
      padding: 30px;
      text-align: center;
      color: rgb(255, 255, 255) !important;
      p {
        color: white;
        margin: 5px 0;
      }
      .deposit-title {
        p {
          font-size: 2rem;
          letter-spacing: 3px;
        }
      }
      .amount-container {
        display: flex;
        flex-direction: row;
        // width: 60%;
        justify-content: space-around;
        span {
          font-weight: 800;
          letter-spacing: 3px;
        }
      }
      .input-container {
        width: 100%;
        height: 30px;
        margin: 10px 0;
        input {
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 5px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          background: white;
          width: 70%;
          height: 100%;
          //   height: 35px;
          &::placeholder {
            color: gray;
            text-align: center;
          }
        }
        button {
          width: 50px;
          cursor: pointer;
          height: 100%;
          //   height: 36px;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background: #39a143;
          position: relative;
          right: 5px;
          transition: all 150ms;
          color: white;
          font-size: 1rem;

          &:hover {
            background: #1f6d27;
          }
        }
      }
      .claim-container {
        width: 75%;
        margin: 0 auto;
        button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          background-color: #39a143;
          color: white;
          border-radius: 5px;
          width: 100px;
          padding: 5px;
          text-align: center;
          //   margin: 5px 0px 5px 150px;
          margin: 5px 0;
          transition: all 150m;
          &:hover {
            background: #1f6d27;
          }
        }
      }
    }
  }
  .cards-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    // border: 1px solid red;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
    .card {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      // border: 1px solid green;
      margin: 5px 30px;
      img {
        width: 50px;
        height: 50px;
      }
      p {
        text-align: center;
        max-width: 100px;
        margin-top: 5px;
        font-size: 0.8rem;
        font-weight: 800;
        span {
          color: white;
        }
      }
    }
  }
  .get-buddy_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 50px auto;
    // border: 1px solid green;
    background: rgb(0, 94, 6);
    background: linear-gradient(
      90deg,
      rgba(0, 94, 6, 1) 0%,
      rgba(0, 28, 9, 0.6923144257703081) 100%
    );
    border-radius: 15px;
    .getbuddy-title {
      // margin-top: 150px;
      // display: flex;
      // justify-content: center;
      display: flex;
      justify-content: center;
      margin: 30px 0 25px 0;
      h1 {
        font-size: 2rem;
        line-height: 26px;
        text-align: center;
        font-weight: 500;
        margin: 0;
        letter-spacing: 1px;
      }
    }
    .getbuddy-info {
      width: 75%;
      // border: 1px solid red;
      margin: 0 auto;
      p {
        color: white;
        margin: 5px 0;
        // text-align: left;
        span {
          margin-left: 10px;
          color: white;
          font-weight: 800;
        }
      }
    }
    .getbuddy-input_container {
      width: 75%;
      // border: 1px solid red;
      height: 100%;
      margin: 10px auto;
      align-items: center;
      label {
        // text-align: left;
        margin: 0;
        padding: 0;
      }
      input {
        // border: 1px solid green;
        width: 75%;
        height: 25px;
        border: none;
        border-radius: 5px;
        &::placeholder {
          text-align: center;
        }
      }
    }
    .getbuddy-btn_container {
      width: 75%;
      display: flex;
      justify-content: center;
      // border: 1px solid violet;
      margin: 0px auto 15px auto;
      z-index: 500;
      button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        background-color: #39a143;
        color: white;
        border-radius: 5px;
        width: 100px;
        padding: 5px;
        text-align: center;
        //   margin: 5px 0px 5px 150px;
        // margin: 5px 0;
        transition: all 150ms;
        &:hover {
          background: #1f6d27;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .title {
    margin: 125px 0 50px 0 !important;
  }
}

@media(max-width: 768px){
  .input-container{
    button{
      top: 2px !important;
    }
  }
}
@media(max-width: 348px){
  .input-container{
    button{
      top: 1px !important;
    }
  }
}