header .metamask-btn {
  /* margin-top: 15px; */
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

header .metamask-btn img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

header .metamask-btn img:hover {
  width: 55px;
  height: 55px;
}

header .img-suplotopia {
  width: 40px !important;
}

header .primary-menu-menu {
  text-transform: uppercase;
}

header .suplo-nav {
  font-family: "Duborics";
}

.section-container {
  z-index: 250;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 50px 0;
}

.section-container .title h1 {
  font-size: 10vw;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
}

.section-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-container .btn-container button {
  z-index: 500;
  cursor: pointer;
  width: 50%;
  margin: 15px auto;
  height: 35px;
  background-color: transparent;
  border: 1px solid #39a143;
  border-radius: 5px;
  color: white;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.section-container .btn-container button:hover {
  background-color: #39a14348;
}

.section-container .main-deposit-container {
  width: 80%;
  margin: 0 auto;
}

.section-container .main-deposit-container .deposit-container {
  width: 100%;
  margin: 25px 0;
  background: #005e06;
  background: -webkit-gradient(linear, left top, right top, from(#005e06), to(rgba(0, 28, 9, 0.692314)));
  background: linear-gradient(90deg, #005e06 0%, rgba(0, 28, 9, 0.692314) 100%);
  border-radius: 15px;
  height: 50%;
  padding: 30px;
  text-align: center;
  color: white !important;
}

.section-container .main-deposit-container .deposit-container p {
  color: white;
  margin: 5px 0;
}

.section-container .main-deposit-container .deposit-container .deposit-title p {
  font-size: 2rem;
  letter-spacing: 3px;
}

.section-container .main-deposit-container .deposit-container .amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-container .main-deposit-container .deposit-container .amount-container span {
  font-weight: 800;
  letter-spacing: 3px;
}

.section-container .main-deposit-container .deposit-container .input-container {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

.section-container .main-deposit-container .deposit-container .input-container input {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: white;
  width: 70%;
  height: 100%;
}

.section-container .main-deposit-container .deposit-container .input-container input::-webkit-input-placeholder {
  color: gray;
  text-align: center;
}

.section-container .main-deposit-container .deposit-container .input-container input:-ms-input-placeholder {
  color: gray;
  text-align: center;
}

.section-container .main-deposit-container .deposit-container .input-container input::-ms-input-placeholder {
  color: gray;
  text-align: center;
}

.section-container .main-deposit-container .deposit-container .input-container input::placeholder {
  color: gray;
  text-align: center;
}

.section-container .main-deposit-container .deposit-container .input-container button {
  width: 50px;
  cursor: pointer;
  height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #39a143;
  position: relative;
  right: 5px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  color: white;
  font-size: 1rem;
}

.section-container .main-deposit-container .deposit-container .input-container button:hover {
  background: #1f6d27;
}

.section-container .main-deposit-container .deposit-container .claim-container {
  width: 75%;
  margin: 0 auto;
}

.section-container .main-deposit-container .deposit-container .claim-container button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #39a143;
  color: white;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
  -webkit-transition: all 150m;
  transition: all 150m;
}

.section-container .main-deposit-container .deposit-container .claim-container button:hover {
  background: #1f6d27;
}

.section-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-container .cards-container .card {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 30px;
}

.section-container .cards-container .card img {
  width: 50px;
  height: 50px;
}

.section-container .cards-container .card p {
  text-align: center;
  max-width: 100px;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 800;
}

.section-container .cards-container .card p span {
  color: white;
}

.section-container .get-buddy_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 50px auto;
  background: #005e06;
  background: -webkit-gradient(linear, left top, right top, from(#005e06), to(rgba(0, 28, 9, 0.692314)));
  background: linear-gradient(90deg, #005e06 0%, rgba(0, 28, 9, 0.692314) 100%);
  border-radius: 15px;
}

.section-container .get-buddy_container .getbuddy-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 25px 0;
}

.section-container .get-buddy_container .getbuddy-title h1 {
  font-size: 2rem;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1px;
}

.section-container .get-buddy_container .getbuddy-info {
  width: 75%;
  margin: 0 auto;
}

.section-container .get-buddy_container .getbuddy-info p {
  color: white;
  margin: 5px 0;
}

.section-container .get-buddy_container .getbuddy-info p span {
  margin-left: 10px;
  color: white;
  font-weight: 800;
}

.section-container .get-buddy_container .getbuddy-input_container {
  width: 75%;
  height: 100%;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-container .get-buddy_container .getbuddy-input_container label {
  margin: 0;
  padding: 0;
}

.section-container .get-buddy_container .getbuddy-input_container input {
  width: 75%;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.section-container .get-buddy_container .getbuddy-input_container input::-webkit-input-placeholder {
  text-align: center;
}

.section-container .get-buddy_container .getbuddy-input_container input:-ms-input-placeholder {
  text-align: center;
}

.section-container .get-buddy_container .getbuddy-input_container input::-ms-input-placeholder {
  text-align: center;
}

.section-container .get-buddy_container .getbuddy-input_container input::placeholder {
  text-align: center;
}

.section-container .get-buddy_container .getbuddy-btn_container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto 15px auto;
  z-index: 500;
}

.section-container .get-buddy_container .getbuddy-btn_container button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #39a143;
  color: white;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.section-container .get-buddy_container .getbuddy-btn_container button:hover {
  background: #1f6d27;
}

@media (max-width: 800px) {
  .title {
    margin: 125px 0 50px 0 !important;
  }
}

@media (max-width: 768px) {
  .input-container button {
    top: 2px !important;
  }
}

@media (max-width: 348px) {
  .input-container button {
    top: 1px !important;
  }
}
/*# sourceMappingURL=foucet.css.map */