/* swap */
.metamask-btn {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
    transition: all 250ms;
    &:hover {
      width: 55px;
      height: 55px;
    }
  }
}
.metamask-btn{
  /* margin-top: 15px; */
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  img{
      width: 50px;
      height: 50px;
      transition: all 250ms;
      &:hover{
          width: 55px;
          height: 55px;
      }
  }
}
.img-suplotopia{
  width:40px !important;
}
.primary-menu-menu{
  text-transform: uppercase;	
}
.suplo-nav{
  font-family: 'Duborics';
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .fountain-title {
    display: flex;
    justify-content: center;
    margin: 150px 0 50px 0;
    h1 {
      letter-spacing: 15px;
    }
  }
}

.submain_container {
  z-index:5;
  width: 90%;
  //   height: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .balance-container {
    display: flex;
    margin-top: 75px;
    text-align: center;
    flex-direction: column;
    gap: 25px;
    width: 20%;
    .bal {
      p {
        margin: 5px;
        span {
          color: white;
        }
      }
    }
  }
  .buy-sell_container {
    display: flex;
    width: 75%;
    max-width: 75;
    height: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .trade_container {
      width: 100%;
      margin: 25px 0;
      background: rgb(0, 94, 6);
      background: linear-gradient(
        90deg,
        rgba(0, 94, 6, 1) 0%,
        rgba(0, 28, 9, 0.6923144257703081) 100%
      );
      border-radius: 15px;
      height: 50%;
      padding: 30px;
      text-align: center;
      color: rgb(255, 255, 255) !important;
      p {
        color: white;
        margin: 5px 0;
      }
      .trade_title {
        font-size: 2rem;
        // border: 1px solid violet;
        width: 75%;
        margin: 0 auto;
        // text-align: left;
        span {
          font-weight: 1000;
          letter-spacing: 2px;
        }
      }
      .amount-bal_container {
        display: flex;
        width: 75%;
        margin: 0 auto;
        // border: 1px solid violet;
        flex-direction: row;
        // width: 60%;
        justify-content: space-around;
        span {
          font-weight: 800;
          letter-spacing: 3px;
        }
      }
      .trade_input-container {
        width: 75%;
        height: 30px;
        // border: 1px solid violet;
        margin: 10px auto;
        input {
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 5px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          background: white;
          width: 75%;
          height: 100%;
          max-height: 30px;
          //   height: 35px;
          &::placeholder {
            color: gray;
            text-align: center;
          }
        }
        button {
          width: 50px;
          cursor: pointer;
          height: 100%;
          //   height: 36px;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background: #39a143;
          position: relative;
          right: 5px;
          transition: all 150ms;
          img {
            width: 15px;
            height: 15px;
          }
          &:hover {
            background: #1f6d27;
          }
        }
      }
      .buy-btn_container {
        width: 75%;
        display: flex;
        justify-content: center;
        // border: 1px solid violet;
        margin: 0 auto;
        .buy-btn {
          cursor: pointer;
          display: flex;
          justify-content: center;
          background-color: #39a143;
          color: white;
          border-radius: 5px;
          width: 100px;
          padding: 5px;
          text-align: center;
          //   margin: 5px 0px 5px 150px;
          margin: 5px 0;
          transition: all 150m;
          &:hover {
            background: #1f6d27;
          }
        }
      }
    }
  }
}
@media (max-width: 950px){
  .submain_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99%;
    .buy-sell_container{
      width: 95%;
      .trade_container{
        .trade_input-container{
          // height: px;
          margin: 10px auto;
          button{
            top: 0px;
          }
        }
      }
    }
    .balance-container{
      width: 90%;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .bal{
        width: 30%;
        // border: 1px solid red
      }
    }
  }
}
@media(max-width:800px){
  .trade_input-container{
    button{
      top:1px !important;
    }
  }
}

@media(max-width:600px){
  .trade_input-container{
    button{
      top: 1px !important;

    }
  }
}

@media(max-width:500px){
  .trade_input-container{
    input{
      border-radius: 10px !important; 
    }
    button{
      display: none;
    }
  }
}

.wallet{
  border: 1px solid white;
  width:210px;
  height: 50px;
  margin-left:25px;
  border-radius: 50cm;
  cursor:pointer;
  color: rgb(192, 199, 199);
  font-weight: 600;
  text-transform: uppercase;
}

@media(min-width:1023px){
  *{
      background: rgb(255, 0, 0) !important;
  }
  h6.suplo-nav{
      display:none;
  }
}